@import "/public/less/variables";

.list-items {
  font-size: 12px;
  text-align: left;
  white-space: nowrap;

  .list-item-first {
    height: 35px !important;
  }

  .list-item-info {
    line-height: 35px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 10px;
    transition: all .25s;

    @media only screen and (min-width: 320px) and (max-width: 992px) {
      height: 70px;
      font-size: 10px;

      &.detail {
        height: 200px;
      }
    }

    @media only screen and (min-width: 992px) {
      height: 35px;

      &.detail {
        height: 200px;
      }
    }

    .list-item {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .list-item:not(:first-child) {
      text-align: center;
    }

    .list-item-box {
      text-align: center;
    }

    .status-box {
      width: 40px;
      height: 28px;
      margin-top: 2px;
      background-color: #CCC;
      border: solid 1px #999;
      display: inline-block;

      &.metrics, &.build, &.unit-test, &.functional-test {
        &.accepted, &.complete {
          background-color: @accepted;
        }
        &.rejected {
          background-color: @rejected;
        }
        &.running {
          background-color: @running;
        }
        &.pending {
          background-color: @pending;
        }
      }
    }

    &.detail {
      .status-box {
        display: none;
      }
    }

    .list-item-type {
      display: inline-block;
      vertical-align: top;
    }

    &.complete, &.accepted {
      border-color: @complete;
      color: @complete;
      background: radial-gradient(at top left, rgba(85,127,60,.25) 10%, white, white 100%);
    }

    &.running {
      border-color: @running;
      color: @running;
      background: radial-gradient(at top left, rgba(96,157,209,.25) 10%, white, white 100%);
    }

    &.rejected {
      border-color: @rejected;
      color: @rejected;
      background: radial-gradient(at top left, rgba(188,12,27,.25) 10%, white, white 100%);
    }

    &.pending {
      border-color: @pending;
      color: @pending;
      background: radial-gradient(at top left, rgba(204,204,204,.25) 10%, white, white 100%);
    }

    &:hover {
      color: white;
      cursor: pointer;

      &.complete, &.accepted {
        border-color: @completeHover;
        background: @completeHover;
      }

      &.running {
        border-color: @runningHover;
        background: @runningHover;
      }

      &.rejected {
        border-color: @rejectedHover;
        background: @rejectedHover;
      }

      &.pending {
        border-color: @pendingHover;
        background: @pendingHover;
      }

    }

  }

}