@font-face {
	font-family: "Flaticon";
	src: url("../font/flaticon.eot");
	src: url("../font/flaticon.eot#iefix") format("embedded-opentype"),
	url("../font/flaticon.woff") format("woff"),
	url("../font/flaticon.ttf") format("truetype"),
	url("../font/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
}.flaticon-bricks:before {
	content: "\e000";
}
.flaticon-bricks2:before {
	content: "\e001";
}
.flaticon-pc:before {
	content: "\e002";
}
.flaticon-security:before {
	content: "\e003";
}
